body {
  background: lightblue;
  font-family: arial;
  text-align: center;
}

h1, h2 {
  margin: 30px 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 24px;
}

button, form, li {
  background: #ddd;
}

button {
  bottom: 24px;
  font-size: 18px;
  height: 66px;
  position: relative;
  width: 36px;
}

form {
  border: 1px black solid;
  border-radius: 5px;
  display: inline-block;
  padding: 20px;
}

input {
  font-size: 18px;
  margin: 0 10px;
}

input[type='submit'] {
  padding: 10px;
}

ul {
  text-align: center;
}

li {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 18px;
  margin: auto;
  padding: 24px 0 24px 24px;
  text-align: left;
  width: 400px;
}

li:hover {
  cursor: pointer;
}

.wrapper {
  margin: 30px auto;
  width: 50%;
}

.close {
  background: #fff;
  color: #e24f4f;
  font-size: 18px;
  float: right;
}

.close:hover {
  background: #bbb;
}
